body {
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Roboto !important;
}

body::-webkit-scrollbar {
    /* just for tweeking */
    width: 15px;

    background: #d0d0d0;
}

body::-webkit-scrollbar-thumb {
    /* just for tweeking */
    border-radius: 10px;
    background-color: #787878;
}

#loayaltyList > .mark{
    margin-top: 20px !important;
    bottom: unset;
}

.mark{
    width: 100%;
    margin-top: 30vh;
    font-size: 10vh;
    bottom: 60%;
    text-align: center;
    font-weight: 700;
    font-family: 'Elianto' !important;
}
@media screen and (max-width:500px) {
    .header{
        font-size: 15vw;
    }
}

.stateCon{
    width: 100%;
    font-size: 5vh;
    bottom: 30%;
    text-align: center;
    margin-top: 1%;
    color: grey;
    font-weight: 100;
}

.spinnerContainer{
    margin-left: calc(50% - 33px);
}

#setupContainer{
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    height: 53px;
}

#botContainer{

    margin-top: 43vh;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: 53px;
    outline: none;
}
.regButton{
    background: transparent;
    border: 3px #212529 solid;
    font-family: 'Elianto';
    font-size: 30px;
    margin-right: 5px;
    outline: none;
    height: 100%;
    cursor: pointer;
}

.regButton:hover{
    background: #212529;
    outline: #212529;
    color: white;
}

.delButton{
    background: transparent;
    color: #d00000;
    border: 3px #d00000 solid;
    font-family: 'Elianto';
    font-size: 30px;
    outline: none;
    height: 100%;
    cursor: pointer;
}

.delButton:hover{
    background: #d00000;
    outline: #d00000;
    color: white;
}

.delButton > svg{
    height: 45px;
}

.delButton > svg > rect{
    fill: #d00000;
}

.delButton > svg > path{
    fill: #d00000;
 }

.delButton:hover > svg > rect{
    fill: white;
}
.delButton:hover > svg > path{
    fill: white;
}


.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width:500px) {
    .mark{
        font-size: 10vw;
    }

    #loayaltyList > .mark{
        font-size: 15vw;
    }

    .regButton{
        font-size: 6vw;
    }

    .delButton{
        font-size: 6vw;
    }

    #setupContainer{
        height: fit-content;
    }

    #botContainer{
        height: 10vw;
    }
}